<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<br />
<% @company.employees.each do |emp|%>
Name of the employee: <%= emp.name%><br />
Age : <%= emp.age%><br />
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
